VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxK5DUWnJuynEd4skeYLzHwjbaPdQKuR_aLdNPi6GwpzAWGtcot7raHJX9hDQr9Im8/exec
VITE_SUPABASE_URL=https://cnvxdxltwpwmnrfqvpqq.supabase.co
VITE_SUPABASE_ANON_KEYeyJhbGciOiJIUzI1=NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNudnhkeGx0d3B3bW5yZnF2cHFxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE1NjY1MzMsImV4cCI6MjA4NzE0MjUzM30.hSCWNAZNzWQTVDPPeUy7QWhqyXeqIhYQZllxJTjzAMw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNudnhkeGx0d3B3bW5yZnF2cHFxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTU2NjUzMywiZXhwIjoyMDg3MTQyNTMzfQ.7i35gAT_KfMq3pPJs37zty-8pblWnDrSHyRwzArblkI
VITE_MAINTENANCE_MODE=false
VITE_MAINTENANCE_ALLOW_ADMIN=false
VITE_MAINTENANCE_MESSAGE=We are doing a quick tune-up and will be back shortly.
VITE_MAINTENANCE_ETA=
APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbw36NosN3tPlTRDt4fXSZjia6m1UvU_KqYepnKHJkd3sroxrU0jsmZJAiIl7FMObBv5/exec
SPREADSHEET_IDS=1ekvEY8klMKLFv5W7Kn9gGLR6m0iQfKmGPzKPtj_N1DA,1yIetRm_eadZnsKZ8ulx57xvKGr3ejCWLpI6Cw9HTDvc,1tqBXbMwJYugrCQra0Q0U7VO3xwi4KNKJZj0K6PZaZQQ
SHEET_NAMES=Form Responses 1,Form Responses 2,Form Responses 3,Form Responses 4,Form Responses 5,Form Responses 6,Form Responses 7,Form Responses 9,Form Responses 10,Form Responses 11,Form Responses 12
VITE_TURNSTILE_SITE_KEY=0x4AAAAAADvfvehdsxMR16Ud
TURNSTILE_SECRET_KEY=0x4AAAAAADvfvWoniIkxdlhOIQb_d5IYqkM