VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzYDJdOsftVqTBwkhpp3vhThAKQRKW3b2HmDU11WPAn8k8rtwbVmWae_TZlw-c5P07A/exec
VITE_SUPABASE_URL=https://cnvxdxltwpwmnrfqvpqq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNudnhkeGx0d3B3bW5yZnF2cHFxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE1NjY1MzMsImV4cCI6MjA4NzE0MjUzM30.hSCWNAZNzWQTVDPPeUy7QWhqyXeqIhYQZllxJTjzAMw
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here
VITE_MAINTENANCE_MODE=false
VITE_MAINTENANCE_ALLOW_ADMIN=false
VITE_MAINTENANCE_MESSAGE=We are doing a quick tune-up and will be back shortly.
VITE_MAINTENANCE_ETA=
APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzYDJdOsftVqTBwkhpp3vhThAKQRKW3b2HmDU11WPAn8k8rtwbVmWae_TZlw-c5P07A/exec
SPREADSHEET_IDS=
SHEET_NAMES=
VITE_TURNSTILE_SITE_KEY=0x4AAAAAADvfvehdsxMR16Ud
TURNSTILE_SECRET_KEY=your_turnstile_secret_key_here